StockerDataFetcher/target/classes/com/stocker/providers/models/Sector.class
*.class
StockerDataFetcher/target/classes/com/stocker/providers/models/Sector.class
StockerDataFetcher/target/classes/com/stocker/providers/SectorsProvider.class
*.class